# Test build environment.
VITE_APP_ENV=test
NUXT_PUBLIC_APP_ENV=test

VITE_API_URL=https://test-api.example.com
VITE_API_PREFIX=/api
VITE_API_VERSION=
VITE_API_ENCRYPTION_ENABLED=true

VITE_CACHE_PREFIX=app_test_
VITE_CACHE_AES_KEY=app_cache_aes
VITE_TOKEN_KEY=token
VITE_DEVICE_KEY=device

VITE_BUILD_VISUALIZER=false
VITE_BUILD_OBFUSCATE=false
